@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Service Desk</h2>
    <p>
        It's an application for resolving company's tasks. Assign your employee for resolving any task you'de like.
    </p>
    <p>@Html.ActionLink("Create task", "Create", "TroubleTasks", null, new { @class = "btn btn-primary" })</p>
</div>